html {
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #55cea6;
    padding: 15px;
    width: 100%;
}

header img {
    margin-left: 20px;
    width: 100px;
}

.navbar {
    list-style-type: none;
    display: flex;
}

.navbar li {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 70px;
}

.navbar li a {
    font-weight: 500;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.header button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.secao-1 {
    margin-left: 7vw;
    margin-top: 7vh;
}

.secao-1 h1 {
    font-weight: bold;
    font-size: 90px;
}

.secao-1 p {
    margin-top: 4vh;
    font-size: 30px;
}

.secao-1 button {
    padding: 20px 40px;
    margin-top: 4vh;
    font-size: 30px;
    background-color: #cf6e56;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.secao-1 div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.secao-1 div img {
    transform: translateX(-2vw);
    width: 80%;
}

.secao-2 {
    margin-top: 24vh;
}

.secao-2 h1 {
    text-align: left;
    margin-left: 15rem;
    margin-bottom: 2rem;
    font-size: 60px;
    font-weight: bold;
}

.d-flex {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-top: 4vh;
    width: 20vw;
}

.container-box {
    width: 20vw;
    height: 28vw;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.secao-2 h5 {
    font-size: 35px;
    margin: 15px 0 10px;
    color: #000000;
    width: 100%;
}

.secao-2 p {
    color: #969696;
    margin: 0;
    font-size: 25px;
    line-height: 1.4;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.secao-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 23%;
    margin-top: 25vh;
}

.objetivos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.paragrafos {
    width: 50%;
    padding-right: 2rem;
}

.paragrafos h1 {
    font-size: 60px;
    text-align: left;
    font-weight: bold;
}

.paragrafo1, .paragrafo2, .paragrafo3 {
    margin-top: 5vh;
}

.paragrafo1 h3, .paragrafo2 h3, .paragrafo3 h3 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #000000;
}

.paragrafo1 p, .paragrafo2 p, .paragrafo3 p {
    font-size: 25px;
    margin-top: 2vh;
    color: #969696;
}

.secao-3 .comecar {
    padding: 10px 20px;
    margin-left: 25vw;
    margin-top: 4vh;
    font-size: 30px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.secao-3 .imagem {
    margin-top: 6vh;
    transform: translateX(25px);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao-3 .imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.secao-4 {
    margin-top: 25vh;
}

.secao-4 h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    margin-left: 7vw;
}

.secao-4 .d-flex {
    display: flex;
    justify-content: center;
    gap: 250px;
    flex-wrap: wrap;
}

.secao-4 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-top: 4vh;
    min-width: 700px;
    max-width: 800px;
    flex: 1 1 400px;
}

.secao-4 .container-box {
    width: 700px;
    height: 400px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 8px;
}

.secao-4 h5 {
    cursor: pointer;
    font-size: 35px;
    margin-top: 4vh;
    color: #000000;
    width: 100%;
    text-decoration: underline;
    align-self: flex-start;
}
.secao-4 p {
    color: #969696;
    margin: 0;
    font-size: 25px;
    line-height: 1.5;
    width: 100%;
    text-decoration: underline;
}

.secao-5 {
    margin-top: 25vh;
}

.secao-5 h1 {
    font-size: 50px;
    font-weight: bold;
}

.secao-5 .container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.secao-5 a:hover {
    color: #969696;
}

.profile-section {
    display: flex;
    margin-top: 4vh;
}

.profile-text {
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
}

.profile-text a {
    font-weight: 600;
    color: #969696;
    text-decoration: none;
}

.profile-text a:hover {
    text-decoration: none;
}

.profile-section img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: translateY(-5px);
}

.pre-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20vh;
    background-color: #ebfff9;
    padding: 7rem;
}

.pre-footer h1 {
    font-size: 60px;
    font-weight: bold;
}

.pre-footer button {
    padding: 20px 40px;
    margin-top: 4vh;
    font-size: 30px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.pre-footer .voltar {
    margin-left: 1vw;
    background-color: white;
    color: black;
}

.footer {
    background-color: #55cea6;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.footer-logos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-shrink: 0;
}

.logo-ifc {
    height: 160px;
    width: auto;
}

footer .logo {
    height: 250px;
    width: auto;
    transform: translateY(-30px);
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-grow: 1;
    margin-left: 3%;
    transform: translateY(-50px);
}

.link-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-column li {
    margin-top: 30px;
}

.link-column a {
    color: #303030;
    text-decoration: none;
}

.link-column a:hover {
    color: #303030;
    text-decoration: underline;
}

#maissobresaude, #objetivos, #sitesconfiaveis {
    scroll-margin-top: 5vh;
}